.favourite .toggle {
	background-color: mintcream;
}

html {
  overflow-y: scroll;
}

.container {
	padding-top: 10px;
	padding-bottom: 15px;
}

.tab-pane {
	padding-top: 15px;
}

.success-message {
	border: 1px solid #d9534f;
	border-radius: 3px;
	color: #d9534f;
	background-color: #fdf7f7;
}

.success-messages,
.error-messages {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 4px;
	list-style-position: inside;
}

.success-messages {
	border: 1px solid #468847;
	color: #468847;
	background-color: #dff0d8;
}

.error-messages {
	border: 1px solid #d9534f;
	color: #d9534f;
	background-color: #fdf7f7;
}

.control-label {
	display: block;
}

#page-view-titles .btn {
	float: right;
}

#page-view-titles .btn:hover {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

#page-view-titles .btn:focus {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

#page-view-titles .btn.active,
#page-view-titles .btn:active,
#page-view-titles .btn:active:focus {
	background-color: #ebebeb;
}

.list .favourite {
	display: none;
}

.list.show-favourites .favourite {
	display: block;
}

.list {
	padding-left: 0;
}

.list > div {
	border-top: 1px solid #ccc;
	padding: 10px 0;
}

.list h3 {
	margin-top: 0;
}
